.App {
  font-family: sans-serif;
  text-align: center;
}

.heading-footer 
{ 
background-image: url(./Images/bg.jpg); 
background-size: cover; 
height: 175px; 
-webkit-box-shadow: none; 
box-shadow: none; 
border: 0px; 
border-radius: 0px; 
}   